@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            @*<hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>*@
           <p>
                <strong>Integrantes:</strong><br />
                U201200336 – CARPIO CARPIO, OMAR VITTORIO<br />
                U201200337 – PORTOCARRERO HEREDIA, RENZO ERNESTO<br />
                U201216398 – HUERTAS NAVARRO, RENZO<br />
                U201215768 – PRINCIPE TARAZONA, OSCAR PABLO<br />             
            </p>
        </div>
    </section>
}
<h3>Casos de Uso:</h3>
<ol class="round">
    <li class="one">
        <h5>Caso de Uso: Registrar Cama</h5>
        @Html.ActionLink("Iniciar", "Index", "Cama")
    </li>

    <li class="two">
        <h5>Caso de Uso: Mantener Habitación</h5>
        @Html.ActionLink("Iniciar", "Index", "OrdenInternamiento")
    </li>

    <li class="three">
        <h5>Caso de Uso: Mantener Bitacora de Internamiento</h5>
        @Html.ActionLink("Iniciar", "Asignacion", "Bitacora")
    </li>

    <li class="four">
        <h5>Caso de Uso: Consultar Bitacora de Internamiento</h5>
        @Html.ActionLink("Iniciar", "Index", "Bitacora")
    </li>

    <li class="five">
        <h5>Caso de Uso: Registrar Checklist de Requisitos</h5>
        @Html.ActionLink("Iniciar", "Index", "Operacion")
    </li>

    <li class="six">
        <h5>Caso de Uso: Mantener Alta Médica</h5>
        @Html.ActionLink("Iniciar", "Index", "MantenerAltaMedica")
    </li>
</ol>
