@model IEnumerable<BusinessEntities.BEOrdenInternamiento>

@{
    ViewBag.Title = "Administración de Habitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>

<h2>Administración de Habitaciones</h2>
@using (Html.BeginForm())
{
    <div class="editor-label">
        Apellido y Nombre del Paciente :
    </div>
    <div class="editor-field">
        <input type="text" name="paciente" value="" />
    </div>
    
    <input type="submit" value="Buscar" />
}

<p>@ViewBag.Mensaje</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PacienteNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HabitacionNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PacienteNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HabitacionNombre)
        </td>
        <td>            
            @if (item.HabitacionNombre.Equals(""))
            {
                @Html.ActionLink("Asignar", "Asignar", new { id = item.IdOrdenInternamiento })
            }
            else
            {
                @Html.ActionLink("Editar", "Editar", new { id = item.IdOrdenInternamiento })

                @Html.ActionLink("Alta", "Alta", new { id = item.IdOrdenInternamiento })
            }
        </td>
    </tr>
}

</table>
