@model IEnumerable<BusinessEntities.BECama>

@{
    ViewBag.Title = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@

<h2>Buscar</h2>

@using (Html.BeginForm())
{
    <div class="editor-label">
        Tipo de Cama :
    </div>
    <div class="editor-field">
        @Html.DropDownList("TipoCama", (SelectList)ViewBag.ListaTipoCama, "-- Todos --")
    </div>
    <div class="editor-label">
        Estado de Servicio :
    </div>
    <div class="editor-field">
        @Html.DropDownList("EstadoServicio", (SelectList)ViewBag.ListaEstadoCama, "-- Todos --")
    </div>
    
    <input type="submit" value="Buscar" />
}
<div>
    @Html.ActionLink("Regresar", "Index")
</div>
    
    <p>@ViewBag.Mensaje</p>

@if (Model.Count<BusinessEntities.BECama>() > 0) {

<div class="TablaListadoGH" >
<table>
    <tr>
        <td>
            #
        </td>
        <td>
            @Html.DisplayNameFor(model => model.MarcaNombre)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.TipoCamaNombre)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.ModoOperacionNombre)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.TipoColchonNombre)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.ListaAccesorios)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.EstadoNombre)
        </td>
        <td></td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarcaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCamaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModoOperacionNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoColchonNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListaAccesorios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoNombre)
        </td>
        <td>
            @if (ViewBag.Modificar)
            {
                @Html.ActionLink("Modificar", "Editar", new { id = item.IdCama })
            }
            @if (ViewBag.Eliminar)
            {
                @Html.ActionLink("Eliminar", "Borrar", new { id = item.IdCama }, new { onclick = "return confirm('¿Está seguro de eliminar la cama?');"})
            }
        </td>
    </tr>
}

</table>
</div>
}
